<%= form_for(@proxy) do |f| %>
  <% if @proxy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proxy.errors.count, "error") %> prohibited this proxy from being saved:</h2>

      <ul>
      <% @proxy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proxy_address %><br>
    <%= f.text_field :proxy_address %>
  </div>
  <div class="field">
    <%= f.label :proxy_port %><br>
    <%= f.text_field :proxy_port %>
  </div>
  <div class="field">
    <%= f.label :proxy_status %><br>
    <%= f.number_field :proxy_status %>
  </div>
  <div class="field">
    <%= f.label :proxy_timeout %><br>
    <%= f.text_field :proxy_timeout %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
