<p id="notice"><%= notice %></p>

<p>
  <strong>Proxy address:</strong>
  <%= @proxy.proxy_address %>
</p>

<p>
  <strong>Proxy Port:</strong>
  <%= @proxy.proxy_port %>
</p>

<p>
  <strong>Proxy status:</strong>
  <%= @proxy.proxy_status %>
</p>

<p>
  <strong>Proxy timeout:</strong>
  <%= @proxy.proxy_timeout %>
</p>

<%= link_to 'Edit', edit_proxy_path(@proxy) %> |
<%= link_to 'Back', proxies_path %>
