%p#notice= notice
%p
  %strong Proxy address:
  = @proxy.proxy_address
%p
  %strong Proxy Port:
  = @proxy.proxy_port
%p
  %strong Proxy status:
  = @proxy.proxy_status
%p
  %strong Proxy timeout:
  = @proxy.proxy_timeout
= link_to 'Edit', edit_proxy_path(@proxy)
|
= link_to 'Back', proxies_path
