%tbody
  - @users.each do |user|
    %tr
      %td
        .round-image-50
          = image_tag user.avatar.url(:thumb_80), :class => 'img-circle' if user.avatar?
      %td
        = link_to user.username, user
      %td
        = link_to user.email, user
      %td
        = user.created_at.to_s
      %td
        = user.current_sign_in_at.to_s
      %td
        = link_to "Edit", edit_user_path(user), :class => 'btn btn-info'
        |
        = link_to "Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger' unless user == current_user
