<h3>User (<%= @user.email %>) </h3>
<p><b>Email: </b><%= @user.email %></p>
<p><b>Текущий адрес: </b><%= @user.current_sign_in_ip %></p>
<p><b>Адрес предыдущего захода: </b><%= @user.last_sign_in_ip%></p>
<p><b>Время предыдущего захода: </b><%= @user.last_sign_in_at %></p>
