<h1>Listing fips_tzs</h1>
<%=render "paginate_top.html.erb"%>
<table>
  <thead>
    <tr>
      <th>Tz n</th>
      <th>Url string fips</th>
      <th>Noko</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fips_tzs.each do |fips_tz| %>
      <tr>
        <td><%= fips_tz.tz_n %></td>
        <td><%= link_to "Link From FIPS", fips_tz.url_string_fips %></td>
        <td><%= link_to 'Show', fips_tz, target: '_blank' %></td>
        <td><%= link_to 'Noko', "/noko/#{fips_tz.id}" %></td>
        <td><%= link_to 'Edit', edit_fips_tz_path(fips_tz) %></td>
        <td><%#= link_to 'Destroy', fips_tz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render "paginate_bottom.html.erb"%>
