= form_for(@fips_tz) do |f|
  - if @fips_tz.errors.any?
    #error_explanation
      %h2
        = pluralize(@fips_tz.errors.count, "error")
        prohibited this fips_tz from being saved:
      %ul
        - @fips_tz.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :tz_n
    %br/
    = f.number_field :tz_n
  .field
    = f.label :url_string_fips
    %br/
    = f.text_field :url_string_fips
  .field
    = f.label :doc
    %br/
    = f.text_area :doc, cols: 100, rows: 100
  .actions
    = f.submit
