<script text="javascript">
jQuery(function(){
    jQuery('#search_datefinish').val("<%= params[:search_datefinish]%>");
    jQuery('#search_datefinish').datepicker({
            changeYear: true,
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            minDate: "+3m",
            maxDate: "+15m",
            closeText: "Закрыть",
            showWeek: true,
            duration: 300
  });
});
</script>


<%= form_tag fips_tzs_path, :method => 'get', :id => "fips_tzs_search" do %>
  <p>
    <b><%= label_tag "Ключевые слова" %></b>
    <%= text_field_tag :search, params[:search] %>
    <br>
    <b><%= label_tag "Номер товарного знака"%></b>
    <%= number_field_tag :search_tzn, params[:search_tzn] %>
    <br>
    <b><%= label_tag "Дата окончания срока действия"%></b>
    <%= text_field_tag :search_datefinish, params[:search_datefinish]%>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="fips_tzs"><%= render 'fips_tzs' %></div>
<% end %>
<br>
<%= link_to 'New Fips tz', new_fips_tz_path %>
