<p>
  <strong>Doc:</strong>
  <br>
  <%= @fips_tz.country %>
  <br>
  <%= @fips_tz.date_start %> || <%= @start_date %>
  <br>
  <%= @fips_tz.date_end %> || <%= @end_date %>
  <br>
  <%= @fips_tz.org %>
 </p>
