Generator  TZ
= form_tag do
  .field
    = label_tag "tz_start"
    %br/
    = number_field_tag :tz_start
  .field
    = label_tag "tz_end"
    %br/
    = number_field_tag :tz_end
  .actions
    = submit_tag
